body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Tilt Warp', cursive;
    back
}

.top-banner {

    display: flex;


}

.pho {
    width: 400px;
    height: 300px;
    padding-left: 200px;
}

.arif {
    font-size: 20px;
    width: 50%;
    height: 40%%;
    background-image: url(9150.png_300.png);
    background-repeat: no-repeat;

    background-size: 200px;


}

.top-web {
    display: flex;
}

.murgi {
    width: 50%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 20px;
    color: white;
}

.orange {
    color: orangered;
}

.red {
    color: rgba(53, 134, 10, 0.934);
}

.five {
    font-size: 50px;
}