body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Tilt Warp', cursive;
    back
}

.flexible-container {

    display: flex;



}




.pho {
    width: 400px;
    height: 300px;
    padding-left: 200px;
}

.arif {
    font-size: 20px;
    width: 50%;
    height: 40%%;


}

.flexible-container {
    display: flex;
    margin-bottom: 80px;
}

.murgi {
    width: 50%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 10px 20px;
    color: white;
}

.orange {
    color: orangered;
}

.red {
    color: rgba(53, 134, 10, 0.934);
}

.five {
    font-size: 50px;
}