body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Tilt Warp', cursive;

}

.orange {
    color: tomato;
}

img {
    width: 400px;
    height: 400px;
    padding-left: 80px;
}

.hasan {
    position: absolute;
    top: 20px;
    right: 40px;
}



.arif {
    width: 40%;
}

h1 {
    font-size: 70px;
}

.link-button {
    text-decoration: none;
    color: black;
    background-color: rgb(13, 54, 221);
    padding: 10px 20px;
    border-radius: 5px;
}